<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>RecipeName</key>
        <array>
            <string>Egg Benedict</string>
            <string>Mushroom Risotto</string>
            <string>Full Breakfast</string>
            <string>Hamburger</string>
            <string>Ham and Egg Sandwich</string>
            <string>Creme Brelee</string>
            <string>White Chocolate Donut</string>
            <string>Starbucks Coffee</string>
            <string>Vegetable Curry</string>
            <string>Instant Noodle with Egg</string>
            <string>Noodle with BBQ Pork</string>
            <string>Japanese Noodle with Pork</string>
            <string>Green Tea</string>
            <string>Thai Shrimp Cake</string>
            <string>Angry Birds Cake</string>
            <string>Ham and Cheese Panini</string>
        </array>
        <key>Thumbnail</key>
        <array>
            <string>egg_benedict.jpg</string>
            <string>mushroom_risotto.jpg</string>
            <string>full_breakfast.jpg</string>
            <string>hamburger.jpg</string>
            <string>ham_and_egg_sandwich.jpg</string>
            <string>creme_brelee.jpg</string>
            <string>white_chocolate_donut.jpg</string>
            <string>starbucks_coffee.jpg</string>
            <string>vegetable_curry.jpg</string>
            <string>instant_noodle_with_egg.jpg</string>
            <string>noodle_with_bbq_pork.jpg</string>
            <string>japanese_noodle_with_pork.jpg</string>
            <string>green_tea.jpg</string>
            <string>thai_shrimp_cake.jpg</string>
            <string>angry_birds_cake.jpg</string>
            <string>ham_and_cheese_panini.jpg</string>
        </array>
        <key>PrepTime</key>
        <array>
            <string>30 min</string>
            <string>30 min</string>
            <string>20 min</string>
            <string>30 min</string>
            <string>10 min</string>
            <string>1 hour</string>
            <string>45 min</string>
            <string>5 min</string>
            <string>30 min</string>
            <string>8 min</string>
            <string>20 min</string>
            <string>20 min</string>
            <string>5 min</string>
            <string>1.5 hour</string>
            <string>4 hours</string>
            <string>10 min</string>
        </array>
        <key>Ingredients</key>
        <array>
            <array>
                <string>2 fresh English muffins</string>
                <string>4 eggs</string>
                <string>4 rashers of back bacon</string>
                <string>2 egg yolks</string>
                <string>1 tbsp of lemon juice</string>
                <string>125 g of butter</string>
                <string>salt and pepper</string>
            </array>
            
            <array>
                <string>1 tbsp dried porcini mushrooms</string>
                <string>2 tbsp olive oil</string>
                <string>1 onion, chopped</string>
                <string>2 garlic cloves</string>
                <string>350g/12oz arborio rice</string>
                <string>1.2 litres/2 pints hot vegetable stock</string>
                <string>salt and pepper</string>
                <string>25g/1oz butter</string>
            </array>
            
            <array>
                <string>2 sausages</string>
                <string>100 grams of mushrooms</string>
                <string>2 rashers of bacon</string>
                <string>2 eggs</string>
                <string>150 grams of baked beans</string>
                <string>Vegetable oil</string>
            </array>
            
            <array>
                <string>400g of ground beef</string>
                <string>1/4 onion (minced)</string>
                <string>1 tbsp butter</string>
                <string>hamburger bun</string>
                <string>1 teaspoon dry mustard</string>
                <string>Salt and pepper</string>
            </array>
            
            <array>
                <string>1 unsliced loaf (1 pound) French bread</string>
                <string>4 tablespoons butter</string>
                <string>2 tablespoons mayonnaise</string>
                <string>8 thin slices deli ham</string>
                <string>1 large tomato, sliced</string>
                <string>1 small onion</string>
                <string>8 eggs</string>
                <string>8 slices cheddar cheese</string>
            </array>
            
            <array>
                <string>1 quart heavy cream</string>
                <string>1 vanilla bean, split and scraped</string>
                <string>1 cup vanilla sugar</string>
                <string>6 large egg yolks</string>
                <string>2 quarts hot water</string>
            </array>
            
            <array>
                <string>3 1/4 cups flour</string>
                <string>2 teaspoons baking powder</string>
                <string>1/4 teaspoon salt</string>
                <string>2 beaten eggs</string>
                <string>2/3 cup sugar</string>
                <string>2 ounces melted white chocolate</string>
                <string>1/2 cup milk</string>
            </array>
            
            <array>
                <string>2/3 cup whole milk</string>
                <string>6 tablespoons white chocolate chips</string>
                <string>coffee</string>
                <string>whipped cream</string>
            </array>
            
            <array>
                <string>1 tablespoon olive oil</string>
                <string>1 onion, chopped</string>
                <string>2 cloves garlic</string>
                <string>2 1/2 tablespoons curry powder</string>
                <string>2 quarts hot water</string>
            </array>
            
            <array>
                <string>1 pack of Instant Noodle</string>
                <string>2 eggs</string>
            </array>
            
            <array>
                <string>1 pack of Instant Noodle</string>
                <string>BBQ pork</string>
                <string>Salt and Pepper</string>
            </array>
            
            <array>
                <string>1 pack of Japanese Noodle</string>
                <string>2 green onions</string>
                <string>2 garlic cloves, minced</string>
                <string>4 boneless pork loin chops</string>
            </array>
            
            <array>
                <string>Green tea</string>
            </array>
            <array>
                <string>8 oz (250g) peeled and deveined raw shrimp</string>
                <string>2 tablespoons red curry paste</string>
                <string>1 large egg</string>
                <string>2 teaspoon fish sauce</string>
                <string>1 tablespoon sugar</string>
                <string>2 tablespoons coconut milk</string>
                <string>2 tablespoons roughly chopped Thai basil leaves</string>
            </array>
            
            <array>
                <string>12 tablespoons (1 1/2 sticks) unsalted butter</string>
                <string>2 1/2 cups all-purpose flour</string>
                <string>1 tablespoon baking powder</string>
                <string>1 teaspoon salt</string>
                <string>1 3/4 cups sugar</string>
                <string>2 large eggs, plus 3 large egg yolks</string>
                <string>1 cup of milk</string>
            </array>
            
            <array>
                <string>2 tablespoons unsalted butter</string>
                <string>4 cups thinly sliced shallots</string>
                <string>2 teaspoons fresh thyme</string>
                <string>1/4 cup grainy Dijon mustard</string>
                <string>8 slices rustic white bread</string>
                <string>8 slices Gruyere cheese</string>
                <string>8 ounces sliced cooked ham</string>
            </array>
        </array>
    </dict>
</plist>
